<div stop-propagation [ngStyle]="style" [class]="datePickerClassName">
  <div [class]="prefixCls+' ant-calendar-range'" tabindex="0">
    <div [class]="prefixCls+'-panel'">
      <div>
        <div class="ant-calendar-range-part ant-calendar-range-left">
          <base-date-picker position="left" type="range"></base-date-picker>
        </div>
        <div class="ant-calendar-range-part ant-calendar-range-right">
          <base-date-picker position="right" type="range"></base-date-picker>
        </div>
      </div>
    </div>
  </div>
</div>