<div>
  <div>
    <h2>Progress</h2>
    <ant-progress type="circle" [percent]="30"></ant-progress>
  </div>
  <div>
    <h2>Alert</h2>
    <ant-alert type="error">
      <div alert-message>
        message
      </div>
      <div alert-desc>
        description
      </div>
    </ant-alert>
  </div>
  <div>
    <h2>Avatar</h2>
    <ant-avatar icon="user"></ant-avatar>
  </div>
  <div>
    <h2>Checkbox</h2>
    <ant-checkbox>多选A</ant-checkbox>
  </div>
  <div>
    <h2>Radio</h2>
    <ant-radio>单选A</ant-radio>
  </div>
  <div>
    <h2>Icon</h2>
    <ant-icon type="loading"></ant-icon>
    <ant-icon type="user"></ant-icon>
  </div>
  <div>
    <h2>Button</h2>
    <ant-button type="default">default</ant-button>
    <ant-button type="primary">Primary</ant-button>
    <ant-button type="dashed">dashed</ant-button>
    <ant-button type="danger">danger</ant-button>
  </div>
  <div>
    <h2>Rate</h2>
    <ant-rate [value]="2"></ant-rate>
  </div>
  <div>
    <h2>Switch</h2>
    <ant-switch></ant-switch>
  </div>
  <div>
    <h2>Steps</h2>
    <ant-steps>
      <ant-step title="Finished" description="This is a description."></ant-step>
    </ant-steps>
  </div>
</div>