<div>
  <div>
    <h2>Dat2-picker</h2>
    <div class="text-center">
      <ant-range-date-picker-wrap></ant-range-date-picker-wrap>
      <ant-range-date-picker></ant-range-date-picker>
      <ant-date-picker></ant-date-picker>
    </div>
    <ant-date-picker-wrap></ant-date-picker-wrap>
  </div>
  <div>
    <h2>Tooltip</h2>
    <div class="text-center">
      <br><br>
      <ant-button *ngFor="let x of placements" tooltip-host [tip]="x" [placement]="x">test {{x}}</ant-button>
    </div>
  </div>
  <div>
    <h2>Row and Col</h2>
    <ant-row>
      <ant-col [span]="12">col-12</ant-col>
      <ant-col [span]="12">col-12</ant-col>
    </ant-row>
    <ant-row>
      <ant-col [span]="8">col-8</ant-col>
      <ant-col [span]="8">col-8</ant-col>
      <ant-col [span]="8">col-8</ant-col>
    </ant-row>
    <ant-row>
      <ant-col [span]="6">col-6</ant-col>
      <ant-col [span]="6">col-6</ant-col>
      <ant-col [span]="6">col-6</ant-col>
      <ant-col [span]="6">col-6</ant-col>
    </ant-row>
  </div>
  <div>
    <h2>Badge</h2>
    <ant-badge [count]="5">
      <a href="#">link something</a>
    </ant-badge>
    <ant-badge [dot]="true">
      <a href="#">link something</a>
    </ant-badge>
    <ant-badge status="processing" text="processing"></ant-badge>
    <ant-badge status="error" text="error"></ant-badge>
    <ant-badge status="warning" text="warning"></ant-badge>
  </div>
  <div>
    <h2>Collapse</h2>
    <div>
      <ant-button (click)="collapseAccordion = !collapseAccordion">{{collapseAccordion?'关闭手风琴':'开启手风琴'}}</ant-button>
    </div>
    <br>
    <ant-collapse [accordion]="collapseAccordion">
      <ant-collapse-panel key="1" header="panel title 1">
        <p>panel-content</p>
        <p>panel-content</p>
        <p>panel-content</p>
        <p>panel-content</p>
        <p>panel-content</p>
      </ant-collapse-panel>
      <ant-collapse-panel key="2" header="panel title 2">
        <p>content 2</p>
        <p>content 2</p>
        <p>content 2</p>
      </ant-collapse-panel>
    </ant-collapse>
  </div>
  <div>
    <h2>Tabs</h2>
    <ant-tabs [navs]="['tab1','tab2']" [(value)]="tabValue">
      <p *ngIf="tabValue===0">tab1 content</p>
      <p *ngIf="tabValue===1">tab2 content</p>
    </ant-tabs>
  </div>
  <div>
    <h2>Tag</h2>
    <ant-tag>标签1</ant-tag>
    <ant-tag color="red">标签2</ant-tag>
    <ant-tag color="green" [closable]="true">可关闭</ant-tag>
  </div>
  <div>
    <h2>TimeLine</h2>
    <ant-time-line>
      <ant-time-line-item>
        <p>time line content</p>
      </ant-time-line-item>
      <ant-time-line-item [last]="true">
        <p>time line content</p>
        <p>time line content</p>
        <p>time line content</p>
      </ant-time-line-item>
    </ant-time-line>
  </div>
  <div>
    <h2>Card</h2>
    <ant-card title="card title">
      <p>card content</p>
      <p>card content</p>
      <p>card content</p>
      <p>card content</p>
      <p>card content</p>
    </ant-card>
  </div>
  <div>
    <h2>InputNumber</h2>
    <ant-input-number size="small" [min]="1" [max]="10" [precision]="1" [(value)]="inputNumberValue"></ant-input-number>
    <ant-input-number size="small" [min]="1" [max]="10" [precision]="1" [(value)]="inputNumberValue"></ant-input-number>
    <ant-input-number size="large" [min]="1" [max]="10" [precision]="1" [(value)]="inputNumberValue"></ant-input-number>
  </div>
  <div>
    <h2>Textarea</h2>
    <ant-textarea [(value)]="textareaValue" placeholder="请输入内容"></ant-textarea>
    <i>{{textareaValue}}</i>
  </div>
  <div>
    <h2>Input</h2>
    <ant-input-group>
      <ant-input (onSearch)="handleInputSearch($event)" suffix="search"></ant-input>
    </ant-input-group>
    <br>
    <ant-input-group>
      <ant-input [(value)]="inputValue" (onPressEnter)="handleInputEnter($event)" prefix="user"></ant-input>
    </ant-input-group>
    <br>
    <ant-input-group>
      <ant-input [(value)]="inputValue" (onPressEnter)="handleInputEnter($event)" addonBefore="http://"></ant-input>
    </ant-input-group>
    <br>
    <ant-input-group>
      <ant-input [(value)]="inputValue" (onPressEnter)="handleInputEnter($event)"></ant-input>
    </ant-input-group>
  </div>
  <div>
    <h2>Notification</h2>
    <ant-button (click)="showNotification('topLeft')">左上</ant-button>
    <ant-button (click)="showNotification('topRight')">右上</ant-button>
    <ant-button (click)="showNotification('bottomLeft')">左下</ant-button>
    <ant-button (click)="showNotification('bottomRight')">右下</ant-button>
  </div>
  <div>
    <h2>Spin</h2>
    <ant-button (click)="spining=true">打开spin</ant-button>
    <ant-button (click)="spining=false">关闭spin</ant-button>
    <ant-button (click)="spinSize='small'">small</ant-button>
    <ant-button (click)="spinSize='default'">default</ant-button>
    <ant-button (click)="spinSize='large'">large</ant-button>
    <ant-spin [delay]="2000" [size]="spinSize" [spining]="spining" tip="加载中...">
      <p>spin text</p>
      <p>spin text</p>
      <p>spin text</p>
      <p>spin text</p>
      <p>spin text</p>
    </ant-spin>
  </div>
  <div>
    <h2>Modal</h2>
    <ant-button (click)="showModal()">打开modal</ant-button>
    <ant-button (click)="showConfirm()">confirm</ant-button>
  </div>
  <div>
    <h2>Message</h2>
    <ant-button (click)="showMessage()">显示message</ant-button>
  </div>
  <ant-notification></ant-notification>
  <ant-confirm-wrap></ant-confirm-wrap>
  <ant-modal-wrap></ant-modal-wrap>
  <message-wrap></message-wrap>
  <ant-back-top></ant-back-top>
  <ant-tooltip-wrap></ant-tooltip-wrap>
  <div>
    <h2>Affix</h2>
    <ant-affix>
      <ant-button type="primary">fixed</ant-button>
    </ant-affix>
  </div>
  <div>
    <h2>Breadcrumb</h2>
    <ant-breadcrumb>
      <ant-breadcrumb-item href="192.168.1.1">Frist</ant-breadcrumb-item>
      <ant-breadcrumb-item>Second</ant-breadcrumb-item>
    </ant-breadcrumb>
  </div>
  <!-- <div>
    <h2>Progress</h2>
    <ant-progress type="line" [percent]="30"></ant-progress>
  </div> -->
  <div>
    <h2>Alert</h2>
    <ant-alert type="error">
      <div alert-message>
        message
      </div>
      <div alert-desc>
        description
      </div>
    </ant-alert>
  </div>
  <div>
    <h2>Avatar</h2>
    <ant-avatar icon="user"></ant-avatar>
  </div>
  <div>
    <h2>Checkbox</h2>
    <ant-checkbox>多选A</ant-checkbox>
  </div>
  <div>
    <h2>Radio</h2>
    <ant-radio>单选A</ant-radio>
  </div>
  <div>
    <h2>Icon</h2>
    <ant-icon type="loading"></ant-icon>
    <ant-icon type="user"></ant-icon>
  </div>
  <div>
    <h2>Button</h2>
    <ant-button type="default">default</ant-button>
    <ant-button type="primary">Primary</ant-button>
    <ant-button type="dashed">dashed</ant-button>
    <ant-button type="danger">danger</ant-button>
  </div>
  <!-- <div>
    <h2>Rate</h2>
    <ant-rate [value]="2"></ant-rate>
  </div> -->
  <div>
    <h2>Switch</h2>
    <ant-switch></ant-switch>
  </div>
  <div>
    <h2>Steps</h2>
    <ant-steps>
      <ant-step title="Finished" description="This is a description."></ant-step>
    </ant-steps>
  </div>
</div>